@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: black;
}

.tasker-quick-wifi {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: black;
  border-radius: 4px;
  padding: 8px 0;
}

.tasker-quick-wifi__network {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.tasker-quick-wifi__network-name {
  width: 100%;
}

.tasker-quick-wifi__network-name > p {
  color: white;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
}

.tasker-quick-wifi__network-name > p:last-child {
  margin-bottom: unset;
  font-size: 15px;
  line-height: 15px;
  color: #b4b4b4;
}

.tasker-quick-wifi__network-icon {
  margin-right: 18px;
  position: relative;
}
.tasker-quick-wifi__network-icon > svg {
  color: #111541;
  fill: #111541;
}
.tasker-quick-wifi__network-icon-strength {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.tasker-quick-wifi__network-icon-strength > svg {
  color: #463fc1;
  fill: #463fc1;
}

.tasker-quick-wifi__network-connected {
  border-bottom: 1px solid #252525;
  padding-bottom: 12px;
  margin-bottom: 6px;
}

.tasker-quick-wifi .ripple {
  background: #b4b4b4 !important;
}
.tasker-quick-wifi .rippleContainer {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}