@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --bg-color: black;
  --ssid-color: white;
  --status-color: #b4b4b4;
  --wifi-icon-bg: #111541;
  --wifi-icon-fg: #463fc1;
  --border-connected: #252525;
}

body {
  background-color: var(--bg-color);
}

.tasker-quick-wifi {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--bg-color);
  border-radius: 4px;
  padding: 8px 0;
}

.tasker-quick-wifi.--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 0;
}

.tasker-quick-wifi__network {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.tasker-quick-wifi__network-name {
  width: 100%;
}

.tasker-quick-wifi__network-name > p {
  color: var(--ssid-color);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
}

.tasker-quick-wifi__network-name > p:nth-child(2) {
  margin-bottom: unset;
  font-size: 15px;
  line-height: 15px;
  color: var(--status-color);
}

.tasker-quick-wifi__network-name.--empty {
  text-align: center;
}
.tasker-quick-wifi__network-name.--empty > p {
  max-width: unset;
}
.tasker-quick-wifi__network-name.--empty svg {
  color: var(--status-color);
  fill: var(--status-color);
}

.tasker-quick-wifi__network-icon {
  margin-right: 18px;
  position: relative;
}
.tasker-quick-wifi__network-icon > svg {
  color: var(--wifi-icon-bg);
  fill: var(--wifi-icon-bg);
}
.tasker-quick-wifi__network-icon-strength {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.tasker-quick-wifi__network-icon-strength > svg {
  color: var(--wifi-icon-fg);
  fill: var(--wifi-icon-fg);
}

.tasker-quick-wifi__network-connected {
  border-bottom: 1px solid var(--border-connected);
  padding-bottom: 12px;
  margin-bottom: 6px;
}

.tasker-quick-wifi .ripple {
  background: var(--status-color) !important;
}
.tasker-quick-wifi .rippleContainer {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}